<div>
<%= simple_form_for([@place, @gallery]) do |f| %>
		<%= f.input :image, label: 'Upload new photo:', error: 'Cannot be blank, please add main photo' %>

		<div>
			<%= f.button :submit %>
		</div>
	<% end %>
</div>

