<table class="table table-striped">
    <tr>
    	<th>Title</th>
    </tr>
    <% @categories.each do |category| %>
    <tr>
    	<td><%= link_to category.title, category_path(category) %></td>
     </tr>
    <% end %> 
  </table>
