<p><%= @category.title %></p>

<div class="mb-3">
    <%= link_to 'All', root_path %>
    <% @categories.each do |category| %>
      <div class="d-inline-block m-2"><%= link_to category.title, category_path(category) %></div> 
    <% end %>
  </div>

<div class="row">
  <% @category.places.each do |place| %>
  <div class="col-sm-3 mb-2">
    <div class="card">
      <div class="card-body">
        <div><%= image_tag place.image.variant(resize: "200x150!") %></div>
        <h5 class="card-title"><%= link_to place.title, place %></h5>
        <p>By: <%= place.user.name %></p>
      </div>
    </div>
  </div>
  
  <% end %>
</div>