

<div>
<%= simple_form_for([@place, @review]) do |f| %>
		<div>
			<%= f.input :body, label: 'Add review', error: 'This review is too long' %>
		</div>
		<div class="d-inline-block mr-2">
			<%= f.input :quality, collection: 1..5, label: 'Quality of food', error: 'Cannot be blank' %>
		</div>
		<div class="d-inline-block mr-2">
			<%= f.input :service, collection: 1..5, label: 'Service quality', error: 'Cannot be blank' %>
		</div>
		<div class="d-inline-block">
			<%= f.input :interior, collection: 1..5, label: 'Interior', error: 'Cannot be blank' %>
		</div>
		<div>
			<%= f.button :submit %>
		</div>
	<% end %>
</div>


