<div>
  <p>By: <%= review.user.name %></p>
  <p>
    <%= review.body %>
  </p>
  <p>
    <%= review.quality %>
  </p>
  <p>
    <%= review.service %>
  </p>
  <p>
    <%= review.interior %>
  </p>
<div>



