<div class="container">
	<%= simple_form_for @place do |f| %>
		<%= f.input :title, label: 'Title', error: 'Cannot be blank, please add title' %>
		<%= f.association :category %>
		<%= f.input :desc, label: 'Description', error: 'Cannot be blank, please add description' %>
		<%= f.input :agreement, label: 'By submiting this form, you agree that following information will be submitted to the public domain, and administrators of this site will have full control over the said information.', error: 'Cannot be blank, please check the box' %>
		<%= f.input :image, label: 'Main photo', error: 'Cannot be blank, please add main photo' %>

		<%= f.button :submit %>
	<% end %>
</div>