<div class="mt-5">

  <div>
    <%= link_to 'All', root_path %>
    <% @categories.each do |category| %>
      <div class="d-inline-block"><%= link_to category.title, category_path(category) %></div> 
    <% end %>
  </div>

<br>

  <div class="mb-5">
    <h4 class="d-inline mr-3 ml-3">All places</h4> 
    <% if can? :create, Place%> 
      <div> <%= link_to 'Add new place', new_place_path, class: 'btn btn-light border' %>
      </div>
    <% end %>
  </div>
  
  <div class="row">
    <% @places.each do |place| %>
      <div class="col-sm-3 mb-2">
        <div class="card">
          <div class="card-body">
            <div><%= link_to image_tag(place.image.variant(resize: "200x150!")), place %></div>
            <h5 class="card-title"><%= link_to place.title, place %></h5>
            <p>By: <%= place.user.name %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div> <%= paginate @places%> </div>
</div>
