<div class="mt-5 pt-5">
  <p id="notice"><%= notice %></p>

  <h3>
    <strong>Title:</strong>
    <%= @place.title %>
  </h3>
  <div class="d-inline-block w-50">
   Description: <%= @place.desc %>
  </div>
  <div class="d-inline-block ml-5">
  <%= image_tag @place.image.variant(resize: "300x200!") %>
  </div>
  <div>
    <% if @place.user == current_user %> 
    	<div class="mt-2 d-inline-block"><%= link_to 'Edit', edit_place_path(@place), class: 'btn btn-secondary' %></div>
    	<div class="mt-2 d-inline-block"><%= link_to 'Delete', place_path(@place), method: :delete, data: {confirm: 'Do you want to delete this place?'}, class: 'btn btn-secondary' %></div>
    <% end %>

  	<div class="mt-2 d-inline-block"><%= link_to 'Back', places_path, class: 'btn btn-secondary' %></div> 
  </div>
  <hr>
  <div class="mt-2 mb-4">
    <h4>Gallery</h4>
      <%= render @place.galleries %>
  </div>
  <hr>
  <div>
    <h4>Raitings</h4>
    <p><b>Overall: </b><%= @review.average_raitings %></p>
    <p>Quality of food: <%= @review.average_quality %></p>
    <p>Service quality: <%= @review.average_service %></p>
    <p>Interior: <%= @review.average_interior %></p>
  </div>
  <hr>
  <h4>Reviews</h4>

    <div>
      <%= render @place.reviews %>
    </div>

  <h4>Add review:</h4>
    <%= render 'reviews/form' %>
  <hr>
  <h4>Add review:</h4>
  <%= render 'galleries/form' %>

</div>







