  <!DOCTYPE html>
  <html>
    <head>
      <title>FinalAijan</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body class="container">
      <div class="mb-2">
        <nav class="navbar fixed-top navbar-dark bg-dark navbar-expand-md">
          <div class="container">
            <%= link_to 'Reviewer', root_path, class: 'navbar-brand' %>
            <div class="w-50 nav-item ml-auto">
              <%= form_for "", url: places_path, role: "search", method: :get do%>
                <%= text_field_tag :search, @search_term, placeholder: "Search..." %>
              <% end %>
            </div>
            <div class="navbar-nav ml-auto">           
              <% if user_signed_in? %>
                <div class="nav-item">
                  <span class="navbar-text">
                    Hello, <%= current_user.name %>
                  <span>
                </div>
                <div class="nav-item">
                  <%= link_to 'Edit profile', edit_user_registration_path(current_user), class: 'nav-link' %>
                </div>
                <div class="nav-item">    
                  <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
                </div>
                <div>
              <% else %>
                <div class="nav-item">
                  <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
                </div>
                <div class="nav-item">
                  <%= link_to 'Log in', new_user_session_path, class: 'nav-link' %>
                </div>
              <% end %>
            </div>
          </div>
        </nav>
      </div>
      <div class="pt-3">
        <%= yield %>
      </div>
    </body>
  </html>
